.first_box {
	height: 300px;
	background-color: silver;
}

.second_box {
	height: 300px; 
	background-color: skyblue;
}

.third_box {
	height: 300px; 
	background-color: steelblue;
}

.forth_box {
	height: 300px; 
	background-color: orange;

}

.fifth_box {

	height: 300px; 

	background-color: red;
}